<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="vconnect_order_volume_order_repository_plugin"
                type="VConnect\OrderVolume\Plugin\OrderRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="vconnect_order_volume_order_item_repository_plugin"
                type="VConnect\OrderVolume\Plugin\OrderItemRepositoryPlugin" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="change-order-items-view-columns-position"
                type="VConnect\OrderVolume\Plugin\Items\ChangeItemVolumeColumnPositionPlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="change-order-items-view-columns-data-position"
                type="VConnect\OrderVolume\Plugin\Items\ChangeItemVolumeColumnDataPositionPlugin"
                sortOrder="10"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="order_volume" xsi:type="string">sales_order.order_volume</item>
            </argument>
        </arguments>
    </virtualType>

    <!--Below the next two virtualTypes and arguments for Plugins were made for training purposes.-->
    <virtualType name="VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangeColumnPosition"
                 type="VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangePosition">
        <arguments>
            <argument name="afterColumnName" xsi:type="string">ordered-qty</argument>
        </arguments>
    </virtualType>
    <type name="VConnect\OrderVolume\Plugin\Items\ChangeItemVolumeColumnPositionPlugin">
        <arguments>
            <argument name="changeItemVolumeColumnPosition" xsi:type="object">VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangeColumnPosition</argument>
        </arguments>
    </type>
    <virtualType name="VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangeColumnDataPosition"
                 type="VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangePosition">
        <arguments>
            <argument name="afterColumnName" xsi:type="string">qty</argument>
        </arguments>
    </virtualType>
    <type name="VConnect\OrderVolume\Plugin\Items\ChangeItemVolumeColumnDataPositionPlugin">
        <arguments>
            <argument name="changeItemVolumeColumnDataPosition" xsi:type="object">VConnect\OrderVolume\Service\Order\View\Items\Columns\Volume\ChangeColumnDataPosition</argument>
        </arguments>
    </type>
</config>
