<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_product_add_after">
        <observer name="custom-observer-add-product-after" instance="Training\Sales\Observer\AddProduct" />
    </event>
<!--    <event name="sales_quote_product_add_before">-->
<!--        <observer name="custom-observer-add-product-before" instance="Training\Sales\Observer\AddProductBefore" />-->
<!--    </event>-->
</config>
